[kube-master]
%{ for index, node in kube_master ~}
  ${node.name} ansible_ssh_host=${trim(node.network.0.fixed_ip_v6, "[]")} ansible_user=${logon_user}
%{ endfor ~}

[etcd]
%{ for index, node in kube_etcd ~}
  ${node.name} ansible_ssh_host=${trim(node.network.0.fixed_ip_v6, "[]")} ansible_user=${logon_user}
%{ endfor ~}

[kube-node]
%{ for index, node in kube_node ~}
  ${node.name} ansible_ssh_host=${trim(node.network.0.fixed_ip_v6, "[]")} ansible_user=${logon_user}
%{ endfor ~}

[k8s-cluster:children]
kube-node
kube-master
etcd
