ansible-lint==4.2.0
ansible==2.9.6
hvac==0.10.0
jinja2==2.11.1
jmespath==0.9.5
netaddr==0.7.19
pbr==5.4.4
pip==20.2
python-designateclient==4.0.0
python-neutronclient==7.2.0
python-novaclient==17.1.0
python-openstackclient==5.2.1
ruamel.yaml==0.16.10
terraform-bin==1.0.1
